doctype html
html(lang="en")
    head
        meta(http-equiv="Content-type" content="text/html" charset="UTF-8")
        title Initial sass pug template
        link(rel="stylesheet" type="text/css" href="./styles.css")

    body
        section
            h1  Initial template for sass and pug playing around
            p Here are just a few samples of work by recent students and graduates.
