doctype html
html(lang="en")
    head
        meta(http-equiv="Content-type" content="text/html" charset="UTF-8")
        title Initial sass pug template
        link(rel="stylesheet" type="text/css" href="./styles.css")

    body
        include _section.pug
